<footer class="site-footer">
  <div class="wrapper">
    <a href="https://github.com/{{ site.github_username }}">
      <i class="fab fa-github"></i>
      <span class="username">{{ site.github_username }}</span>
    </a>
    |
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fab fa-twitter"></i>
      <span class="username">{{ site.twitter_username }}</span>
    </a>
    |
    <a href="https://www.meetup.com/Perth-Linux-Users-Group-PLUG">
      <i class="fab fa-meetup"></i>
      <span class="username">PLUG Meetup</span>
    </a>
    |
    <a href="https://www.facebook.com/plug.org.au/">
      <i class="fab fa-facebook-square"></i>
      <span class="username">Perth Linux Users Group</span>
    </a>
  </div>
</footer>
