name: pull-request

on:
  pull_request:

env:
  TZ: Australia/Perth

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GIT_CONFIG_NOSYSTEM: "1"
    steps:
      - uses: actions/checkout@v4
      - name: Install Hugo
        run: sudo snap install --channel=extended/stable hugo
      - name: Try to build website
        run: hugo
